// ======================================
// foundation
// ======================================
@use 'foundation/reset';
@use 'foundation/variables';
@use 'foundation/base';
// ======================================
// layout
// ======================================
#l-header {
    width: 100%;
}
#l-main {
    padding: 80px;
}
// ======================================
// object
// ======================================
// Component
// **************************************
.c-header {
    width: 100%;
    height: 80px;
    padding: 0 10%;
    &__top {
        color: var(--font-color_secondary);
        font-weight: bold;
        font-size: var(--font-size_xxl);
        &:before {
            content: '';
            background: var(--color_accent);
            width: 50px;
            height: 50px;
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
            border-left: 50px solid var(--color_accent);
        }
    }
    &__item {
        color: var(--font-color_secondary);
        font-size: var(--font-size_l);
        margin-right: var(--space_l);
    }
}
.c-main {
    width: var(--site-width_xxl);
    margin: 0 auto;
}

// Project
// **************************************
// Utility
// **************************************
.u-bgColor {
    &__base {
        background: var(--color_base);
    }
}
.u-flex {
    display: flex;
    &_space-between {
        justify-content: space-between;
    }
    &_align-items--center {
        align-items: center;
    }
}


// Vue Transition
// ***************************************
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
.fade-enter-active {
    animation: bounce-in .5s;
}
@keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}
