// ======================================
// foundation
// ======================================
@use 'foundation/reset';
@use 'foundation/mixin';
@use 'foundation/variables';
@use 'foundation/base';
// ======================================
// layout
// ======================================
@use 'layout/main';
@use 'layout/footer';
@use 'layout/modal';
// ======================================
// object
// ======================================
// Component
// **************************************
@use 'object/component/menuTrigger';
@use 'object/component/container';
@use 'object/component/form';
@use 'object/component/btn';
@use 'object/component/page';
@use 'object/component/flashMsg';
.c-acd {
    width: 100%;
    position: relative;
    &__icon {
        position: absolute;
    }
    &__up {
        display: none;
    }
    &__check {
        position: absolute;
        z-index: 1;
        top: -32px;
        right: 15px;
        width: 22px;
        height: 20px;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .c-acd__up {
            display: block;
        }
        &:checked ~ .c-acd__down {
            display: none;
        }
    }
    &__content {
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: .4s;
    }
    &__item {
        display: flex;
        background: var(--font-color_default);
        padding: var(--space_s) var(--space_l);
        cursor: pointer;
        &:hover {
            opacity: .5;
        }
    }
    &__time {
        background: var(--font-color_default);
        padding: var(--space_s) var(--space_l);
    }
    &__text {
        margin: 0 var(--space_m);
    }
}
.c-timer {
    display: flex;
    justify-content: space-between;
    margin-top: var(--space_l);
    &__btn {
        color: var(--font-color_default);
        width: 48%;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        text-align: center;
        border-radius: 5px;
    }
}


// Project
// **************************************
@use 'object/project/mainHeader';
@use 'object/project/main';
@use 'object/project/boardList';
@use 'object/project/todoList';
@use 'object/project/boardHead';
@use 'object/project/mainFooter';
@use 'object/project/form';

.p-modal {
    display: none;
    background: var(--color_active);
    padding: var(--space_l) var(--space_xxl);
    width: 60%;
    font-size: var(--font-size_l);
    border-radius: 5px;
    @include mixin.mq(md) {
        padding: var(--space_m) var(--space_xl);
    }
    @include mixin.mq(sm) {
        width: 80%;
        font-size: var(--font-size_m);
    }
    &.show {
        display: block;
    }
    &__head {
        font-size: var(--font-size_xxl);
        display: flex;
        justify-content: space-between;
        @include mixin.mq(md) {
            font-size: var(--font-size_l);
        }
    }
    &__form {
        margin: var(--space_l) 0;
    }
    &__input {
        @extend .c-input;
        margin-bottom: var(--space_xl);
        @include mixin.mq(md) {
            margin-bottom: var(--space_s);
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__submit {
        @extend .c-btn;
        background: var(--color_primary);
        @include mixin.mq(md) {
            width: 100%;
            text-align: center;
            margin-top: var(--space_m);
        }
    }
}
.p-boardPage {
    margin: 60px 0 30px 0;
    &__item {
        width: 40px;
        height: 40px;
        line-height: 40px;
        &.active {
            color: var(--font-color_default);
            background: var(--color_accent);
            border-radius: 50%;
            margin: 0 var(--space_l);
        }
    }
}

// Utility
// **************************************
// Color
// ======================================
.u-color {
    &--accent {
        color: var(--color_accent);
    }
    &--error {
        color: var(--color_error);
    }
    &--success {
        color: var(--color_success);
    }
    &--default {
        color: var(--font-color_default);
    }
}
// BackGround
// ======================================
.u-bgColor {
    &--base {
        background: var(--color_base);
    }
    &--accent {
        background: var(--color_accent);
    }
    &--error {
        background: var(--color_error);
    }
    &--success {
        background: var(--color_success);
    }
    &--primary {
        background: var(--color_primary);
    }
}
// Margin
// ======================================
.u-margin {
    &-left {
        &--m {
            margin-left: var(--space_m);
        }
        &--auto {
            margin-left: auto;
        }
    }
    &-right {
        &--xl {
            margin-right: var(--space_xl);
        }
    }
    &-bottom {
        &--m {
            margin-bottom: var(--space_m);
        }
    }
    &--0 {
        &-m {
            margin: 0 var(--space_m);
        }
        &-auto {
            margin: 0 auto;
        }
    }
    &--m {
        &-0 {
            margin: var(--space_m) 0;
        }
    }
    &--xl {
        &-0 {
            margin: var(--space_xl) 0;
        }
    }
}
// Padding
// ======================================
.u-padding {
    &--0 {
        &-m {
            padding: 0 var(--space_m);
        }
        &-3l {
            padding: 0 var(--space_3l);
        }
    }
    &--s {
        &-m {
            padding: var(--space_s) var(--space_m);
        }
    }
    &--m {
        &-l {
            padding: var(--space_m) var(--space_l);
        }
    }
}
// Display
// ======================================
.u-block {
    display: block;
}
.u-inline {
    display: inline;
}
.u-flex {
    display: flex;
    &-wrap {
        &--wrap {
            flex-wrap: wrap;
        }
    }
}
.u-align-items {
    &--center {
        align-items: center;
    }
    &--flex-start {
        align-items: flex-start;
    }
}
.u-justify-content {
    &--center {
        justify-content: center;
    }
    &--space-between {
        justify-content: space-between;
    }
    &--flex-end {
        justify-content: flex-end;
    }
}
// Text
// ======================================
.u-text {
    &--center {
        text-align: center;
    }
}

// js Active
// ***************************************
.js-target-display {
    display: none;
    &.show {
        display: block;
    }
}

