@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html, body {
  width: 100%;
  color: var(--font-color_default);
  line-height: 1.6;
  font-family: var(--font-family_default);
  letter-spacing: 0.1em;
}

p, a {
  -webkit-font-smoothing: antialiased;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

input {
  display: block;
  width: 100%;
  background: #fff;
}

textarea {
  resize: vertical;
  height: 30px;
}

::placeholder {
  color: #ccc;
}

iframe {
  width: 100%;
}

i {
  cursor: pointer;
}

:root {
  --font-color_default: #fff;
  --color_base: #C6C6C6;
  --color_accent: #00233D;
  --color_active: #dadada;
  --color_success: #39D353;
  --color_primary: #2024ad;
  --color_error: #bb2f2f;
  --font-color_secondary: #444;
  --site-width_xxl: 980px;
  --site-width_xl: 780px;
  --site-width_md: 580px;
  --site-width_ms: 414px;
  --font-size_s: 12px;
  --font-size_m: 14px;
  --font-size_default: 16px;
  --font-size_l: 18px;
  --font-size_xl: 24px;
  --font-size_xxl: 28px;
  --font-size_3l: 38px;
  --space_s: 5px;
  --space_m: 10px;
  --space_l: 15px;
  --space_xl: 20px;
  --space_xxl: 30px;
  --space_3l: 40px;
  --font-family_default: "メイリオ", sans-serif;
}

#l-main {
  padding: 80px;
  position: relative;
  min-height: 520px;
}
@media screen and (max-width: 1200px) {
  #l-main {
    padding: 40px;
  }
}
@media screen and (max-width: 768px) {
  #l-main {
    padding: 50px 20px;
  }
}

#l-footer {
  width: 100%;
  margin: 40px 0 0 0;
}

#l-modal {
  display: none;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 20%;
}
@media screen and (max-width: 414px) {
  #l-modal {
    left: 10%;
  }
}
#l-modal.active {
  display: block;
}

.c-menuTrigger {
  display: none;
  width: 35px;
  height: 35px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .c-menuTrigger {
    display: block;
  }
}
.c-menuTrigger__bar {
  display: none;
  width: 100%;
  height: 2px;
  position: absolute;
  background: #444;
  transition: all 0.4s;
}
@media screen and (max-width: 768px) {
  .c-menuTrigger__bar {
    display: block;
  }
}
.c-menuTrigger__bar.active {
  background: #fff;
  transition: all 0.4s;
}
.c-menuTrigger__bar:nth-of-type(1) {
  top: 0px;
}
.c-menuTrigger__bar:nth-of-type(1).active {
  top: 10px;
  transform: rotate(45deg);
}
.c-menuTrigger__bar:nth-of-type(2) {
  top: 10px;
}
.c-menuTrigger__bar:nth-of-type(2).active {
  display: none;
}
.c-menuTrigger__bar:nth-of-type(3) {
  top: 20px;
}
.c-menuTrigger__bar:nth-of-type(3).active {
  top: 10px;
  transform: rotate(-45deg);
}

.c-container, .p-boardList, .p-top {
  max-width: 980px;
  margin: 0 auto;
}
@media screen and (max-width: 1000px) {
  .c-container, .p-boardList, .p-top {
    max-width: 780px;
  }
}
.c-container__tit, .p-todoList__tit {
  font-size: 28px;
}
@media screen and (max-width: 1000px) {
  .c-container__tit, .p-todoList__tit {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .c-container__tit, .p-todoList__tit {
    font-size: 18px;
  }
}
.c-container__item, .p-todoList__tit, .p-todoList__item, .p-todoList__name, .p-todoList__todo, .p-todoList__edit, .p-todoList__remove {
  border-radius: 5px;
  overflow: hidden;
}

.c-form {
  max-width: 500px;
}
.c-form__submit {
  margin: var(--space_3l) 0;
  width: 100%;
  font-size: var(--font-size_xl);
  padding: var(--space_s) 0;
  border-radius: 50px;
  text-align: center;
}
.c-form__check {
  width: 20px;
}

.c-input, .p-boardModal__input {
  border: 2px solid var(--font-color_default);
  border-radius: 5px;
  color: var(--font-color_secondary);
}
.c-input:focus, .p-boardModal__input:focus {
  border: 2px solid var(--color_success);
}

.c-btn, .p-boardModal__submit, .p-boardHead__btn--pc, .p-boardHead__btn--sp {
  padding: 0 15px;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .c-btn, .p-boardModal__submit, .p-boardHead__btn--pc, .p-boardHead__btn--sp {
    padding: 0 10px;
    font-size: 14px;
  }
}

.c-page {
  display: flex;
  justify-content: center;
}
.c-page__item {
  display: block;
  text-align: center;
  cursor: pointer;
}
.c-page__item.disabled {
  display: none;
}

.c-flashMsg {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #2024ad;
  position: absolute;
  top: -30px;
  transition: all 1s;
}
.c-flashMsg.active {
  top: 0;
  transition: all 0.8s;
}

.c-timer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.c-timer__btn {
  color: #fff;
  width: 48%;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

.p-mainHeader {
  height: 130px;
}
.p-mainHeader:before {
  position: absolute;
  content: "";
  width: 470px;
  height: 280px;
  top: 0;
  border-top: 0px solid transparent;
  border-bottom: 280px solid transparent;
  border-left: 470px solid #00233D;
}
@media screen and (max-width: 1000px) {
  .p-mainHeader:before {
    height: 180px;
    border-bottom: 180px solid transparent;
  }
}
@media screen and (max-width: 768px) {
  .p-mainHeader:before {
    width: 300px;
    border-left: 300px solid #00233D;
  }
}
@media screen and (max-width: 414px) {
  .p-mainHeader:before {
    width: 210px;
    height: 180px;
    border-left: 210px solid #00233D;
    border-bottom: 180px solid transparent;
  }
}
.p-mainHeader__inner {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-mainHeader__top {
  font-weight: bold;
  font-size: 28px;
  cursor: pointer;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .p-mainHeader__top {
    font-size: 18px;
  }
}
@media screen and (max-width: 414px) {
  .p-mainHeader__top {
    font-size: 14px;
  }
}
.p-mainHeader__nav {
  font-size: 18px;
  z-index: 2;
}
@media screen and (max-width: 1000px) {
  .p-mainHeader__nav {
    font-size: 14px;
  }
}
.p-mainHeader__list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .p-mainHeader__list {
    position: absolute;
    top: -100%;
    left: 0;
    display: block;
    width: 100%;
    padding: 40px 0;
    background: #00233D;
    opacity: 0.8;
    text-align: center;
    transition: all 0.4s;
    box-sizing: border-box;
  }
  .p-mainHeader__list.active {
    top: 0;
    transition: all 0.4s;
  }
}
.p-mainHeader__item {
  margin-right: 30px;
}
@media screen and (max-width: 1000px) {
  .p-mainHeader__item {
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .p-mainHeader__item {
    margin-right: 0;
    margin-top: 40px;
  }
}

.p-top {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  .p-top {
    display: grid;
    justify-content: center;
    margin: 100px auto 0 auto;
  }
}
.p-top__provider {
  width: 40%;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .p-top__provider {
    width: 100%;
    order: 2;
  }
}
.p-top__tit {
  font-size: 38px;
  font-weight: bolder;
  margin-top: 40px;
}
.p-top__btn {
  display: block;
  width: 200px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 50px;
}
.p-top__img {
  width: 50%;
  max-width: 500px;
}
@media screen and (max-width: 1000px) {
  .p-top__img {
    width: 100%;
    max-width: 400px;
    order: 1;
  }
}

.p-boardHead {
  color: #00233D;
}
.p-boardHead__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.p-boardHead__btn--pc {
  color: #fff;
  background: #2024ad;
}
@media screen and (max-width: 414px) {
  .p-boardHead__btn--pc {
    display: none;
  }
}
.p-boardHead__btn--sp {
  color: #fff;
  background: #2024ad;
  display: none;
}
@media screen and (max-width: 414px) {
  .p-boardHead__btn--sp {
    display: block;
  }
}

.p-boardList {
  position: relative;
  color: #00233D;
}
.p-boardList__item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
}
.p-boardList__item:last-child {
  border-bottom: 2px solid;
}
.p-boardList__name {
  width: 74%;
  max-width: 700px;
  display: inline-block;
}
@media screen and (max-width: 1200px) {
  .p-boardList__name {
    width: 55%;
    max-width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .p-boardList__name {
    width: 80%;
  }
}
@media screen and (max-width: 414px) {
  .p-boardList__name {
    font-size: 14px;
  }
}
.p-boardList__date {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .p-boardList__date {
    display: none;
  }
}
.p-boardList__icon {
  width: 20px;
  margin: 0 5px;
  cursor: pointer;
  text-align: center;
}
.p-boardList__opMenu {
  min-width: 230px;
  position: absolute;
  right: 40px;
  background: #C6C6C6;
  box-shadow: 0px 0px 6px 1px;
  z-index: 1;
}
.p-boardList__opItem {
  cursor: pointer;
}
.p-boardList__opItem:hover {
  background: #dadada;
}
.p-boardList__delItem {
  width: 100%;
}

.p-todoList {
  font-size: 14px;
  color: #00233D;
}
.p-todoList__tit {
  max-width: 500px;
  margin: 0 40px 30px;
  cursor: pointer;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .p-todoList__tit {
    margin: 0 10px 30px;
  }
}
.p-todoList__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.p-todoList__item {
  background: #dadada;
  width: 300px;
  margin: 5px;
  padding: 30px 15px;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .p-todoList__item {
    width: 100%;
    margin: 5px 15px;
  }
}
.p-todoList__head {
  margin-bottom: 15px;
}
.p-todoList__name {
  display: flex;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  box-sizing: border-box;
}
.p-todoList__input {
  height: 100%;
  padding: 5px 10px;
}
.p-todoList__input:focus {
  border: 2px solid #2024ad;
  padding: 3px 10px;
}
.p-todoList__time, .p-todoList__timeInput {
  margin-left: -10px;
}
.p-todoList__timeInput {
  border: 2px solid #dadada;
  margin: 0 10px;
  padding: 0 10px;
}
.p-todoList__text {
  padding: 15px 10px;
  font-size: 16px;
  max-height: 60px;
}
.p-todoList__todo {
  display: flex;
  align-items: center;
  margin: 5px 0;
  background: #fff;
  padding: 0 15px;
}
.p-todoList__edit {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 10px 0;
  background: #fff;
  padding: 0 0 0 15px;
  font-size: 18px;
}
.p-acd__check:checked + .p-todoList__acd {
  opacity: 1;
  height: 300px;
  visibility: visible;
  background: #fff;
  padding-bottom: 15px;
}
.p-todoList__acon {
  top: -43px;
  right: 2px;
}
.p-todoList__bottom {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.p-todoList__btn, .p-todoList__submit {
  height: 100%;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
}
.p-todoList__icon {
  font-size: 24px;
  width: 28px;
  cursor: pointer;
}
.p-todoList__add {
  display: block;
  color: #444;
  cursor: pointer;
  margin: 10px 0;
}
.p-todoList__remove {
  color: #fff;
  font-size: 16px;
  margin: 0 0 0 auto;
  padding: 5px 10px;
}
.p-todoList__submit {
  display: block;
  width: 100%;
  color: #fff;
  margin-top: 10px;
}

.p-mainFooter {
  width: 100%;
  background: #00233D;
  padding: 15px;
  box-sizing: border-box;
}
.p-mainFooter__menu {
  margin: 40px 0 15px 0;
  display: flex;
  flex-wrap: wrap;
}
.p-mainFooter__item {
  margin: 5px 10px;
}
.p-mainFooter__tit {
  text-align: right;
  margin: 0 10px;
}
@media screen and (max-width: 414px) {
  .p-mainFooter__tit {
    text-align: center;
  }
}

.p-withdraw {
  max-width: 500px;
}
.p-withdraw__submit {
  margin: 40px 0;
  width: 100%;
  font-size: 24px;
  padding: 5px 0;
  border-radius: 50px;
  text-align: center;
}
.p-withdraw__check {
  width: 20px;
}

.p-boardModal {
  display: none;
  background: #dadada;
  padding: 15px 30px;
  width: 60%;
  font-size: 18px;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .p-boardModal {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 414px) {
  .p-boardModal {
    width: 80%;
    font-size: 14px;
  }
}
.p-boardModal.show {
  display: block;
}
.p-boardModal__head {
  font-size: 28px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .p-boardModal__head {
    font-size: 18px;
  }
}
.p-boardModal__form {
  margin: 15px 0;
}
.p-boardModal__input {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .p-boardModal__input {
    margin-bottom: 5px;
  }
}
.p-boardModal__bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.p-boardModal__submit {
  background: #2024ad;
}
@media screen and (max-width: 768px) {
  .p-boardModal__submit {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}

.p-boardPage {
  margin: 60px 0 30px 0;
}
.p-boardPage__item {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.p-boardPage__item.active {
  color: #fff;
  background: #00233D;
  border-radius: 50%;
  margin: 0 15px;
}

.p-acd {
  width: 100%;
  position: relative;
}
.p-acd__icon {
  position: absolute;
}
.p-acd__up {
  display: none;
}
.p-acd__check {
  position: absolute;
  z-index: 1;
  top: -32px;
  right: 15px;
  width: 22px;
  height: 20px;
  opacity: 0;
  cursor: pointer;
}
.p-acd__check:checked ~ .c-acd__up {
  display: block;
}
.p-acd__check:checked ~ .c-acd__down {
  display: none;
}
.p-acd__content {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.p-acd__item {
  display: flex;
  background: #fff;
  padding: 5px 15px;
  cursor: pointer;
}
.p-acd__item:hover {
  opacity: 0.5;
}
.p-acd__time {
  background: #fff;
  padding: 5px 15px;
}
.p-acd__text {
  margin: 0 10px;
}

.u-color--accent {
  color: #00233D;
}
.u-color--error {
  color: #bb2f2f;
}
.u-color--success {
  color: #39D353;
}
.u-color--default {
  color: #fff;
}

.u-bgColor--base {
  background: #C6C6C6;
}
.u-bgColor--accent {
  background: #00233D;
}
.u-bgColor--error {
  background: #bb2f2f;
}
.u-bgColor--success {
  background: #39D353;
}
.u-bgColor--primary {
  background: #2024ad;
}

.u-margin-top--l {
  margin-top: 15px;
}
.u-margin-left--m {
  margin-left: 10px;
}
.u-margin-left--auto {
  margin-left: auto;
}
.u-margin-right--xl {
  margin-right: 20px;
}
.u-margin-bottom--m {
  margin-bottom: 10px;
}
.u-margin--0-m {
  margin: 0 10px;
}
.u-margin--0-auto {
  margin: 0 auto;
}
.u-margin--m-0 {
  margin: 10px 0;
}
.u-margin--xl-0 {
  margin: 20px 0;
}

.u-padding--0-m {
  padding: 0 10px;
}
.u-padding--0-3l {
  padding: 0 40px;
}
.u-padding--s-m {
  padding: 5px 10px;
}
.u-padding--m-l {
  padding: 10px 15px;
}

.u-block {
  display: block;
}

.u-inline {
  display: inline;
}

.u-flex {
  display: flex;
}
.u-flex-wrap--wrap {
  flex-wrap: wrap;
}

.u-align-items--center {
  align-items: center;
}
.u-align-items--flex-start {
  align-items: flex-start;
}

.u-justify-content--center {
  justify-content: center;
}
.u-justify-content--space-between {
  justify-content: space-between;
}
.u-justify-content--flex-end {
  justify-content: flex-end;
}

.u-text--center {
  text-align: center;
}

.js-target-display {
  display: none;
}
.js-target-display.show {
  display: block;
}

/*# sourceMappingURL=style.css.map */
