@use '../../global' as global;

.p-acd {
    width: 100%;
    position: relative;
    &__icon {
        position: absolute;
    }
    &__up {
        display: none;
    }
    &__check {
        position: absolute;
        z-index: 1;
        top: -32px;
        right: 15px;
        width: 22px;
        height: 20px;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .c-acd__up {
            display: block;
        }
        &:checked ~ .c-acd__down {
            display: none;
        }
    }
    &__content {
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: .4s;
    }
    &__item {
        display: flex;
        background: global.$font-color_secondary;
        padding: global.$space_s global.$space_l;
        cursor: pointer;
        &:hover {
            opacity: .5;
        }
    }
    &__time {
        background: global.$font-color_secondary;
        padding: global.$space_s global.$space_l;
    }
    &__text {
        margin: 0 global.$space_m;
    }
}