@use '../../global' as global;
@use '../component/btn';

.p-boardHead {
    color: global.$color_accent;
    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: global.$space_xxl;
    }
    &__btn {
        &--pc {
            color: global.$font-color_secondary;
            background: global.$color_primary;
            @extend .c-btn;
            @include global.mq(sm) {
                display: none;
            }
        }
        &--sp {
            color: global.$font-color_secondary;
            background: global.$color_primary;
            @extend .c-btn;
            display: none;
            @include global.mq(sm) {
                display: block;
            }
        }
    }
}