.p-mainFooter {
    width: 100%;
    background: var(--color_accent);
    padding: var(--space_l);
    box-sizing: border-box;
    &__menu {
        margin: var(--space_3l) 0 var(--space_l) 0;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        margin: var(--space_s) var(--space_m);
    }
    &__tit {
        text-align: right;
        margin: 0 var(--space_m);
        @include mixin.mq(sm) {
            text-align: center;
        }
    }
}