@use '../global' as global;

#l-main {
    padding: 80px;
    position: relative;
    @include global.mq(xl) {
        padding: 40px;
    }
    @include global.mq(md) {
        padding: 50px 20px;
    }
}