@use '../../global' as global;

// BackGround
// ======================================
.u-bgColor {
    &--base {
        background: global.$color_base;
    }
    &--accent {
        background: global.$color_accent;
    }
    &--error {
        background: global.$color_error;
    }
    &--success {
        background: global.$color_success;
    }
    &--primary {
        background: global.$color_primary;
    }
}