@use '../../global' as global;

// Color
// ======================================
.u-color {
    &--accent {
        color: global.$color_accent;
    }
    &--error {
        color: global.$color_error;
    }
    &--success {
        color: global.$color_success;
    }
    &--default {
        color: global.$font-color_secondary;
    }
}