@use '../../global' as global;

// Margin
// ======================================
.u-margin {
    &-top {
        &--l {
            margin-top: global.$space_l;
        }
    }
    &-left {
        &--m {
            margin-left: global.$space_m;
        }
        &--auto {
            margin-left: auto;
        }
    }
    &-right {
        &--xl {
            margin-right: global.$space_xl;
        }
    }
    &-bottom {
        &--m {
            margin-bottom: global.$space_m;
        }
    }
    &--0 {
        &-m {
            margin: 0 global.$space_m;
        }
        &-auto {
            margin: 0 auto;
        }
    }
    &--m {
        &-0 {
            margin: global.$space_m 0;
        }
    }
    &--xl {
        &-0 {
            margin: global.$space_xl 0;
        }
    }
}