@use '../../global' as global;

// Padding
// ======================================
.u-padding {
    &--0 {
        &-m {
            padding: 0 global.$space_m;
        }
        &-3l {
            padding: 0 global.$space_3l;
        }
    }
    &--s {
        &-m {
            padding: global.$space_s global.$space_m;
        }
    }
    &--m {
        &-l {
            padding: global.$space_m global.$space_l;
        }
    }
}