@use '../../global' as global;

.c-btn {
    padding: 0 global.$space_l;
    border-radius: 5px;
    cursor: pointer;
    @include global.mq(md) {
        padding: 0 global.$space_m;
        font-size: global.$font-size_m;
    }
}
