@use '../../global' as global;

.c-form {
    max-width: 500px;
    &__submit {
        margin: var(--space_3l) 0;
        width: 100%;
        font-size: var(--font-size_xl);
        padding: var(--space_s) 0;
        border-radius: 50px;
        text-align: center;
    }
    &__check {
        width: 20px;
    }
}

.c-input {
    border: 2px solid var(--font-color_default);
    border-radius: 5px;
    color: var(--font-color_secondary);
    &:focus {
        border: 2px solid var(--color_success);
    }
}